body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#root {
    overflow-x: hidden;
}

.content {
    z-index: 100;
}

.content::before {
    content: '';
    position: absolute;
    border-radius: 20px;
    top: -20px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50px;
    background: #FFF;
}

@media screen and (max-width: 700px) {
    .txt {
        font-size: 200px;
    }
}

@media screen and (max-width: 500px) {
    .from {
        display: flex;
        flex-direction: column;
    }
}

.down {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}
.downdelay {
    transition: all 1s;
    transition-delay: 0.3s;
}

.setu {
    opacity: 1;
    transform: translateY(0);
}

.up {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s;
}

.set {
    opacity: 1;
    transform: translateY(0);
}

.right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s;
}

.setr {
    opacity: 1;
    transform: translateX(0);
}

.hidde {
    opacity: 0;
    transition: all 3s;
}

.showing {
    opacity: 1;
}


.bg{
    background: linear-gradient(180deg, transparent, black, black, black, black);
}


.swiper{
    margin: 100px auto;
    width: 100%;
    height: 240px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}

.swiper-slide:nth-child(1n){
    background: red;
}
.swiper-slide:nth-child(2n){
    background: blue;
}
.swiper-slide:nth-child(3n){
    background: green;
}
.swiper-slide:nth-child(4n){
    background: yellow;
}

.inp{
    display: block;
}



.Zones{
    transition: all .2s ease-in;
    position: relative;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; gap: 5px;
}
.zon{
    display: none;
}
.Zones > .zon{
    display: flex;
}
.caret{
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20%;
    animation: ltr 1s ease-in-out infinite;
}
@keyframes ltr {
    0%{
        left: 20%;
    }
    50%{
        left: 25%;
    }
    100%{
        left: 20%;
    }
}
.Zones:hover{
    background-color: black;
    color: white;
}

.modal{
    position: fixed;
    z-index: 10000000;
    width: 70%;
    height: 90vh;
    background: #000;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

}
.fix{
    display: none;
}
.Zones .fix{
    display: block;
    position: fixed;
}
.fixe{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 19000;
    background: #00000064;
}

.icons{
    width: 30px;
    height: 30px;
    margin: 5px;
    background: #3d3d43;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.drop{
    position: absolute;
    top: 100%;
    left: 0;
}

.ul{
    padding: 10px;
}
.ul::-webkit-scrollbar{
    width: 10px;
    height: 100%;
    background: #FFF;
    border-radius: 999px;
}
.ul::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 999px;
}
.dr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 16px;
    border-radius: 3px;
}
.dr:last-child{
    border: none;
}
.dr:hover{
    background: rgba(0, 0, 0, 1);
    color: white;
}
.lastdrop{
    width: 140px;
}
.last{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 140px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 3px;
}


.zone, .sub{
    position: relative;
    display: inline-block;
}
.subzone{
    margin-left: 10px;
}
.select, .subselect{
    background-color: #212121;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.select-items, .sub-items{
    position: absolute;
    display: none;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
    height: 200px;
    top: 120%;
    left: 10%;
    overflow: scroll;
    padding: 0;
}
.sub-items{
    height: auto;
}
.select-items::-webkit-scrollbar, .sub-items::-webkit-scrollbar{
    width: 5px;
    background: #FFF;
    border-radius: 10px;
}
.select-items::-webkit-scrollbar-thumb, .sub-items::-webkit-scrollbar-thumb{
    background: #212121;
    border-radius: 10px;
}
.select-items div{
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid#212121;
}
.sub-items div{
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid#212121;
}
.select-items div:hover, .sub-items div:hover{
    background-color: #212121;
    color: white;
}
.select-items div:last-child, .sub-items div:last-child{
    border: none;
}